<div class="row">
	<div class="col-md-12">
		<select class="form-control label-primary">
			<option>All</option>
			<option>Delievered</option>
			<option>Pendding</option>
		</select>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Status</th>
					<th>Date</th>
					<th>Quantity</th>
					<th>Total price</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{status}}</a></td>
					<td>2014/12/1</td>
					<td>20</td>
					<td>Aed 4,500</td>
					<td><a ng-href="#/profile/order/23"><i class="glyphicon glyphicon-plus"></i></a></td>
				</tr>
				<tr>
					<td>{{status}}</a></td>
					<td>2014/12/1</td>
					<td>20</td>
					<td>Aed 4,500</td>
					<td colspan="1"><i class="glyphicon glyphicon-plus"></i></td>
				</tr>
				<tr>
					<td>{{status}}</a></td>
					<td>2014/12/1</td>
					<td>20</td>
					<td>Aed 4,500</td>
					<td colspan="1"><i class="glyphicon glyphicon-plus"></i></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>