<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<hr />
		<h4 >Order Information <span class="badge">12</span></h4>
		<table class="table">
			<tr>
				<th>Full Name</th>
				<td>someone really awesome</td>
			</tr>
			<tr>
				<th>Mobile Phone</th>
				<td>+971 50 5555 555</td>
			</tr>
			<tr>
				<th>Address</th>
				<td>Somewhere in the world</td>
			</tr>
			<tr>
				<th>Total Quantity</th>
				<td>12</td>
			</tr>
			<tr>
				<th>Price</th>
				<td>AED 823</td>
			</tr>
			<tr>
				<th>Date</th>
				<td>2014/11/24</td>
			</tr>
			<tr>
				<th>Status</th>
				<td>
					<select class="form-control">
						<option>Delievered</option>
						<option>Pendding</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>Cusomer Remarks</th>
				<td>Please deliever on time as you do usually :)</td>
			</tr>
			<tr>
				<th>Update Remarks</th>
				<td>
					<textarea class="form-control"></textarea>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<button class="btn btn-primary btn-lg btn-block">Update</button>
				</td>
			</tr>
		</table>

		<div class="row">
			<h4>Products</h4>

			<div class="col-md-12" style="margin-bottom:4%;">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Price</th>
							<th>Quantity</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>some product</td>
							<td>Aed 200</td>
							<td>12</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col-md-12" style="margin-bottom:4%;">
				<a ng-href="#/profile/product/1">
					<img src="public/modules/user/img/pic.jpg" class="img-responsive profile-center text-center">	
				</a>
			</div>
		</div>

	</div>
</div>
