<!DOCTYPE html>
<html data-ng-app="moheera">
<head>
	<title>Moheera App</title>
	<link rel="stylesheet" type="text/css" href="/asset/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body>
	<h1>Bism Allah</h1>
	<% if(!isAuthenticated){ %>
	Please login <a href="/login">Here</a>
	<% } else { %>
	Salam <%= user.name %>!! please say Bism Allah as we start!
	<a href="/logout">LogOut!</a>
	<% } %>


	<script type="text/javascript" src="/asset/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/asset/angular/angular.min.js"></script>
	<script type="text/javascript" src="/public/core/app.js"></script>
	<script type="text/javascript" src="/asset/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>