<!DOCTYPE html>
<html data-ng-app="moheera">
<head>
	<title>Moheera App</title>
	<!-- CSS asset files -->
	<link rel="stylesheet" type="text/css" href="/asset/bootstrap/dist/css/bootstrap.min.css">
	<!-- App CSS file -->
	<link rel="stylesheet" type="text/css" href="/public/dest/app.min.css">
</head>
<body>
	<header ng-include="'public/modules/config/view/nav.html'"></header>

	<div class="container">

		<div ui-view></div>
		
		<% if(!isAuthenticated){ %>

		<% } else { %>

		<a href="/logout">LogOut!!!</a>
		<% } %>

	</div>

	

	<footer ng-include="'public/modules/config/view/footer.html'"></footer>

	<!-- JQuery -->
	<script type="text/javascript" src="/asset/jquery/dist/jquery.min.js"></script>

	<!-- JS asset files -->
	<script type="text/javascript" src="/asset/angular/angular.min.js"></script>
	<script type="text/javascript" src="/asset/ui-router/release/angular-ui-router.js"></script>

	<!-- Bootstrap -->
	<script type="text/javascript" src="/asset/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script type="text/javascript" src="/asset/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

	<!-- App JS file -->
	<script type="text/javascript" src="/public/dest/app.min.js"></script>

</body>
</html>