<div class="row" style="background-color:#fff;">
    <div class="col-md-12 ">
        <form name="newProduct" class="form" method="post" id="info" novalidate>
            <h4 class="text-center">New Product</h4>
            <fieldset>
                <div data-ng-show="error" class="alert alert-danger text-center">
                    <strong data-ng-bind="error"></strong>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="text" ng-maxlength="70" data-ng-model="newProduct.name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="number" max="100000" min="1" data-ng-model="newProduct.price" class="form-control" placeholder="Price" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <select data-ng-model="newProduct.quantity" ng-options="num for num in count()" class="form-control" required>
                           <option value="">-- Select Quantity --</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <select data-ng-model="newProduct.category" ng-options="cat for cat in categoryOptions" class="form-control" required>
                           <option value="">-- Select Category --</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <textarea rows="10" ng-maxlength="700" data-ng-model="newProduct.desc" class="form-control" placeholder="Description" required>
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <img  id='image1Preview' src="/public/modules/config/img/1.jpg" class="img-responsive">
                            <input style="display: none;" type="file" data-ng-model="newProduct.image1" watch-image-config-directive accept="image/*" id="image1" class="form-control" placeholder="Image">
                        </div>
                        <div class="col-md-3">
                        <img id='image2Preview' src="/public/modules/config/img/2.jpg" class="img-responsive">
                            <input style="display: none;" type="file" data-ng-model="newProduct.image2" watch-image-config-directive accept="image/*" id="image2" class="form-control" placeholder="Image">
                        </div>
                        <div class="col-md-3">
                            <img id='image3Preview' src="/public/modules/config/img/3.jpg" class="img-responsive">
                            <input style="display: none;" type="file" data-ng-model="newProduct.image3" watch-image-config-directive accept="image/*" id="image3" class="form-control" placeholder="Image">
                        </div>
                        <div class="col-md-3">
                            <img id='image4Preview' src="/public/modules/config/img/4.jpg" class="img-responsive">
                            <input style="display: none;" type="file" data-ng-model="newProduct.image4" watch-image-config-directive accept="image/*" id="image4" class="form-control" placeholder="Image">
                        </div>                        
                    </div>
                </div>
                <div class="form-group">
                    <button data-ng-click="addProduct()" ng-disabled="newProduct.$invalid" class="btn btn-primary btn-lg btn-block">Save & Close</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>