<div>
	<!-- Product name -->
	<div class="col-md-12 text-center">
		<span class="alert alert-success">{{product.name}}</span>
	</div><!-- End Product name -->

	<!-- product image -->
	<div class="col-md-10 col-md-offset-1">
		<a href="{{productLink}}"><img ng-src="{{viewImageLink}}" class="img-responsive text-center"></a><!-- end product image -->
	</div>

	<!-- product other images -->
	<div class="col-md-12 col-xs-12" style="margin:4% 0;background-color:#fff;">
		<div class="col-md-3 col-xs-3">
			<img ng-src="public/uploads/{{product.image1}}" ng-click="viewImage('1')" ng-class="{'img-responsive img-thumbnail': highlightImage == 1,'img-responsive img-rounded': highlightImage != 1}">
		</div>
		<div class="col-md-3 col-xs-3">
			<img ng-src="public/uploads/{{product.image2}}" ng-click="viewImage('2')" ng-class="{'img-responsive img-thumbnail': highlightImage == 2,'img-responsive img-rounded': highlightImage != 2}">
		</div>
		<div class="col-md-3 col-xs-3">
			<img ng-src="public/uploads/{{product.image3}}" ng-click="viewImage('3')" ng-class="{'img-responsive img-thumbnail': highlightImage == 3,'img-responsive img-rounded': highlightImage != 3}">
		</div>
		<div class="col-md-3 col-xs-3">
			<img ng-src="public/uploads/{{product.image4}}" ng-click="viewImage('4')" ng-class="{'img-responsive img-thumbnail': highlightImage == 4,'img-responsive img-rounded': highlightImage != 4}">
		</div>
	</div> <!-- end product other images -->

	<!-- Product price -->
	<div class="col-md-12">
		<div class="label label-success"><i class="glyphicon glyphicon-tag"></i>AED {{product.price}}</div>
	</div><!-- End product price -->

	<!-- Product description -->
	<div class="col-md-12">
		<div class="panel panel-default" style="text-align:justify;padding:1%;">
			<span class="panel-body">{{product.desc}}</span>
		</div>
	</div><!-- End product description -->

</div>