<div style="background-color:#fff;">
	<div class="row">
		<!-- Product name -->
		<div class="col-md-12 text-center">
			<span class="alert alert-success">{{product.name}}</span>
		</div><!-- End Product name -->
	</div>
	<div class="row">
		<!-- product image -->
		<div class="col-md-12 text-center">
			<a ng-href="{{productLink}}"><img ng-src="{{viewImageLink || public/modules/home/img/loading.gif}}" class="img-responsive image-center"></a><!-- end product image -->
		</div>
	</div>
	<div class="row" style="margin:4% 0;">
		<!-- product other images -->
		<div class="col-md-3 col-xs-3">
			<img ng-src="{{'public/uploads/'+product.image1 || public/modules/home/img/loading.gif}}" ng-click="viewImage('1')" ng-class="{'img-responsive img-thumbnail': highlightImage == 1,'img-responsive img-rounded': highlightImage != 1}">
		</div>
		<div class="col-md-3 col-xs-3">
			<img ng-src="public/uploads/{{product.image2}}" ng-click="viewImage('2')"  ng-class="{'img-responsive img-thumbnail': highlightImage == 2,'img-responsive img-rounded': highlightImage != 2}">
		</div>
		<div class="col-md-3 col-xs-3">
			<img ng-src="public/uploads/{{product.image3}}" ng-click="viewImage('3')" ng-class="{'img-responsive img-thumbnail': highlightImage == 3,'img-responsive img-rounded': highlightImage != 3}">
		</div>
		<div class="col-md-3 col-xs-3">
			<img ng-src="public/uploads/{{product.image4}}" ng-click="viewImage('4')" ng-class="{'img-responsive img-thumbnail': highlightImage == 4,'img-responsive img-rounded': highlightImage != 4}">
		</div>
		<!-- end product other images -->
	</div>
	<div class="row">
		<!-- Product price -->
		<div class="col-md-12">
			<div class="label label-success"><i class="glyphicon glyphicon-tag"></i>AED {{product.price}}</div>
		</div><!-- End product price -->
	</div>
	<div class="row">
		<!-- Product description -->
		<div class="col-md-12">
			<div class="panel panel-default" style="text-align:justify;padding:1%;">
				<span class="panel-body">{{product.desc}}</span>
			</div>
		</div><!-- End product description -->
	</div>
</div>