<div class="row">
	<div class="col-md-12">
		<hr/>

		<!-- Error message -->
        <div data-ng-show="error" class="text-center alert alert-danger">
        	<strong data-ng-bind="error"></strong>
        </div><!-- End error message -->

		<!-- remove product -->
		<span ng-click="showRemoveProductBox()" class="glyphicon glyphicon-remove" style="font-size:20px;color:#ccc;" aria-hidden="true"></span>
		<!-- end remove product-->

		<!-- edit product -->
		<a href="#/profile/product/{{product.name}}/edit">
			<span class="glyphicon glyphicon-edit" style="font-size:20px;color:#ccc;" aria-hidden="true"></span>
		</a><!-- end edit product-->

		<!-- Remove Product Box -->
		<div ng-show="removeProductBox" class="text-center text-danger">
			<div class="alert alert-danger" role="alert">
				<h5>Are you sure you wants to remove this product?</h5>
				<button ng-click="removeProduct()" class="btn btn-lg btn-danger">Remove</button>
				<button ng-click="cancelRemoveProduct()" class="btn btn-lg btn-success">Cancel</button>
			</div>
		</div> <!-- End Remove Product Box -->

		<!-- Product name -->
		<div class="col-md-12 text-center">
			<span class="alert alert-success">{{product.name}}</span>
		</div><!-- End Product name -->

		<!-- product image -->
		<img src="public/modules/user/img/pic.jpg" class="img-responsive text-center"><!-- end product image -->

		<!-- product other images -->
		<div class="col-md-12 col-xs-12" style="margin:4% 0;background-color:#fff;">
			<div class="col-md-3 col-xs-3">
				<img src="public/modules/user/img/pic.jpg" class="img-responsive img-rounded">
			</div>
			<div class="col-md-3 col-xs-3">
				<img src="public/modules/user/img/pic.jpg" class="img-responsive img-rounded">
			</div>
			<div class="col-md-3 col-xs-3">
				<img src="public/modules/user/img/pic.jpg" class="img-responsive img-rounded">
			</div>
			<div class="col-md-3 col-xs-3">
				<img src="public/modules/user/img/pic.jpg" class="img-responsive img-rounded">
			</div>
		</div> <!-- end product other images -->

		<!-- Product price -->
		<div class="col-md-12">
			<div class="label label-success"><i class="glyphicon glyphicon-tag"></i>AED {{product.price}}</div>
		</div><!-- End product price -->

		<!-- Product description -->
		<div class="col-md-12">
			<div class="panel panel-default" style="text-align:justify;padding:1%;">
				<span class="panel-body">{{product.desc}}</span>
			</div>
		</div><!-- End product description -->

		<!-- product heart,cart and comments buttons -->
		<div class="col-md-12" style="margin-bottom:4%;">

			<!-- heart -->
			<button type="button" onclick="this.blur();" class="btn btn-default" ng-click="heartProduct(product._id)" ng-class="{'alert-danger': isHearted() == true, 'alert-warning': isHearted() == false && product.heart.length > 0, 'alert-default': isHearted() == false && product.heart.length == 0}">
				<span class="glyphicon glyphicon-heart" style="font-size:20px;" aria-hidden="true"></span>
				<span class="text-muted">{{product.heart.length}}</span>
			</button><!-- End Heart -->

			<!-- Comment -->
			<button type="button" onclick="this.blur();"  class="btn btn-default" ng-class="{'alert-info': product.comment.length > 0, 'alert-default': product.comment.length == 0}">
				<span class="glyphicon glyphicon-comment" style="font-size:20px;" aria-hidden="true"></span>
				<span class="text-muted">{{product.comment.length}}</span>
			</button><!-- End comment -->

			<!-- Cart -->
			<button type="button" ng-click="addToCart(product)" onclick="this.blur();"  class="btn btn-default" ng-class="{'alert-warning': isInCart() == true && user.cart.length > 0, 'alert-default': user.cart.length == 0}">
				<span class="glyphicon glyphicon-shopping-cart" style="font-size:20px;" aria-hidden="true"></span>
			</button><!-- End Cart -->

			<!-- Quantity -->
			<span ng-class="{'alert alert-success': product.quantity > 0, 'alert alert-danger': product.quantity == 0}">{{product.quantity}} Available</span><!-- End Quantity -->
		</div>

		<!-- end product heart,cart and comments buttons -->

	</div>
</div>
<hr />
<!-- add comments -->
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<form name="commentForm" class="form-horizontal" role="form" autocomplete="off">
			<div class="form-group">
				<textarea ng-model="newComment" class="form-control" rows="3" required></textarea>
				<button ng-click="addComment()" ng-disabled="commentForm.$invalid" class="btn btn-primary btn-lg btn-block text-center">Comment</button>
			</div>
		</form>
	</div>
</div> <!-- end add comments -->

<!-- comments -->
<div class="row panel panel-default" ng-repeat="comment in product.comment">
	<!-- remove button , show to the comment author only -->
	<div class="col-md-12 text-right">
		<i ng-show="user._id == comment.author[0]._id" ng-click="removeComment($index, comment._id, product._id)" class="glyphicon glyphicon-remove text-muted"></i>
	</div><!-- End remove button -->
	<div class="col-md-12">
		<span class="glyphicon glyphicon-user">{{comment.author[0].name}}</span>
	</div>
	<div class="col-md-12">
		<h5>{{comment.content}}</h5>
	</div>
	<div class="col-md-12">
		<p class="text-muted">{{comment.created}}</p>
	</div>
</div> <!-- end comments -->