<div class="row" ng-hide="productByCategory.length">
	<div class="col-md-12">
		<h4 class="alert alert-danger text-center">Category was not found</h4>
	</div>
</div>

<div ng-show="productByCategory.length" ng-repeat="product in productByCategory" style="margin-bottom:5%">
		<!-- Product Inof -->
		<div product-box-product-directive="product"></div><!-- End Product Inof -->
		<div class="col-md-12" style="padding-bottom:2%;background-color:#fff;">
			<!-- heart -->
			<div heart-icon-product-directive="product"></div><!-- End Heart -->
			<!-- Comment -->
			<div comment-icon-product-directive="product"></div> <!-- End comment -->
			<!-- Cart -->
			<div cart-icon-product-directive="product"></div> <!-- End Cart -->
		</div>
</div>