<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div data-ng-show="error" class="text-center text-danger">
			<div class="alert alert-danger">
				<strong data-ng-bind="error"></strong>
			</div>
		</div>
		<h4>Remove Account</h4>
		<p class="label-info" style="font-size:14px;">
			<b>By removeing your account you will loss all of your data including your products , comments , hearts and any related information.</b>
		</p>
		<p style="font-size:14px;" class="label label-danger">Are you sure you wants to remove your account?</p>
		<br />
		<button style="margin-top:10%;" ng-click="cancelRemove()" class="btn btn-lg btn-block btn-success">Cancel</button>
		<button style="margin:4% 0;" ng-click="confirmRemove()" class="btn btn-lg btn-block btn-danger">Remove My Account</button>
	</div>
</div>