<div class="row" style="background-color:#fff;">
	<h3 class="text-center">Edit {{userInfo.name}} profile</h3>
	<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
		<form name="userForm" class="signin form-horizontal" autocomplete="off"  enctype="multipart/form-data">
			<fieldset>
				<div data-ng-show="error" class="text-center alert alert-danger">
					<strong data-ng-bind="error"></strong>
				</div>
				<div  data-ng-show="success" class="alert alert-success text-center">
					<strong>Profile Saved Successfully</strong>
				</div>
				<div class="form-group">
					<label for="firstName">First Name</label>
					<input type="text" class="form-control" data-ng-model="userInfo.firstName" placeholder="First Name" required>
				</div>
				<div class="form-group">
					<label for="lastName">Last Name</label>
					<input type="text" class="form-control" data-ng-model="userInfo.lastName" placeholder="Last Name" required>
				</div>
				<div class="form-group">
					<label for="email">Mobile Phone</label>
					<input type="mobilePhone" class="form-control" data-ng-model="userInfo.mobilePhone" placeholder="Mobile Phone Number">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" data-ng-model="userInfo.email" placeholder="Email" required>
				</div>
				<div class="form-group">
					<label for="email">Logo</label>
					<input type="file" accept="image/*" id="logo" class="form-control">
				</div>
				<div class="form-group">
					<label for="email">Banner</label>
					<input type="file" accept="image/*" id="banner" class="form-control">
				</div>
				<div class="form-group">
					<label for="email">Page Description</label>
					<textarea class="form-control" rows="4" data-ng-model="userInfo.pageDesc" placeholder="Page Description"></textarea>
				</div>
				<div class="text-center form-group">
					<button ng-click='updateAccount()' ng-disabled="userForm.$invalid" class="btn btn-lg btn-primary btn-block">Save Profile</button>
				</div>
				<div class="text-center form-group">
					<button ng-click="removeAccount()" class="btn btn-lg btn-danger btn-block">Remove Account</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>