<div class="row">
	<h3 class="col-md-12 text-center">Edit {{userInfo.name}} profile</h3>
	<div class="col-md-offset-1 col-md-10">
		<form name="userForm" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div data-ng-show="error" class="text-center alert alert-danger">
					<strong data-ng-bind="error"></strong>
				</div>
				<div  data-ng-show="success" class="alert alert-success text-center">
					<strong>Profile Saved Successfully</strong>
				</div>
				<div class="form-group">
					<label for="firstName">First Name</label>
					<input type="text" class="form-control" data-ng-model="userInfo.firstName" placeholder="First Name" required>
				</div>
				<div class="form-group">
					<label for="lastName">Last Name</label>
					<input type="text" class="form-control" data-ng-model="userInfo.lastName" placeholder="Last Name" required>
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" data-ng-model="userInfo.email" placeholder="Email" required>
				</div>
				<div class="text-center form-group">
					<button ng-click='updateAccount()' ng-disabled="userForm.$invalid" class="btn btn-lg btn-primary btn-block">Save Profile</button>
				</div>
				<div class="text-center form-group">
					<button ng-click="removeAccount()" class="btn btn-lg btn-danger btn-block">Remove Account</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>